/*

!/composer.json
!/composer.lock
!/.htaccess
!/.gitignore
!/mysite/
!/themes/
!/maintenance
!/assets/
/assets/*
!/assets/.htaccess
!/assets/Secure/
/assets/Secure/*
!/assets/Secure/.htaccess
!/README.md
!/favicon.ico
!/website-under-maintenance
!/robots.txt